<a href="https://colab.research.google.com/github/rafavch/DS-Project/blob/master/DS_W2_G6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Analyze variables, fill in missing values, normalize extreme values.**

In [ ]:
import pandas as pd
import numpy as np
cars_data = pd.read_csv (r'/content/sample_data/Automotive_2.csv')   #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
cars_data.head (5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/26/2016 14:57,BMW_320d_DPFXenon_Tempomat_Sitzheizung_PDC_Kli...,privat,Angebot,10499,control,limousine,2006,manual,163,3er,90000,1,diesel,bmw,no,3/26/2016 0:00,0,76661,4/6/2016 2:46
1,3/23/2016 20:57,Renault_clio_mit_nagelneuen_T?!*,privat,Angebot,1199,test,kleinwagen,2001,manual,0,clio,150000,4,benzin,renault,no,3/23/2016 0:00,0,10967,4/6/2016 2:46
2,3/19/2016 18:56,VW_LUPO._1.1l_T?_3/18,privat,Angebot,2750,test,kleinwagen,1999,manual,50,lupo,40000,10,benzin,volkswagen,no,3/19/2016 0:00,0,53757,3/23/2016 8:15
3,3/30/2016 12:51,Opel_Astra_Caravan_Sport_sehr_gepflegt,privat,Angebot,3500,control,kombi,2004,manual,125,astra,150000,10,benzin,opel,no,3/30/2016 0:00,0,4329,4/1/2016 12:50
4,3/26/2016 21:36,Ford_Focus_Turnier_1.6_TDCi_DPF_Trend,privat,Angebot,7500,control,kombi,2012,manual,116,focus,150000,8,diesel,ford,no,3/26/2016 0:00,0,91189,4/2/2016 14:16

In [ ]:
km = np.array(cars_data['kilometer'])
np.max(km)

150000